/* FONTS */

@font-face {
  font-family: "Livvic";
  src: url("Livvic-BoldItalic.woff2") format("woff2"),
  url("Livvic-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Livvic";
  src: url("Livvic-MediumItalic.woff2") format("woff2"),
  url("Livvic-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Livvic";
  src: url("Livvic-Regular.woff2") format("woff2"),
  url("Livvic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Livvic";
  src: url("Livvic-SemiBold.woff2") format("woff2"),
  url("Livvic-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Livvic";
  src: url("Livvic-Bold.woff2") format("woff2"),
  url("Livvic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



:root {
  --text-color: #fff;
  --midnight-green-color: #014E56;;
  --light-coral-color: #e67e7e;
  --rapture-blue-color: #79c8c7;
  --police-blue-color: #2c6969;
  --jungle-green: #004047;
  --sacramento-green-color: #012f34;
  --dark-green:#002529;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Livvic", "Arial", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  background-color: var(--midnight-green-color);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* VISUALLY HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BUTTON */

.button {
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: 2px solid #fff;
  color: var(--text-color);
  border-radius: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  padding: 10px 32px;
}

/* SITE HEADER */

.header-hero-wrapper {
  background-color: var(--midnight-green-color);

}
.site-header {
  padding-top: 73px;
  padding-bottom: 73px;
}

.site-header__container {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  transition: opacity 0.4s ease;
  flex-shrink: 0;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}
.site-header__logo {
  margin-right: 80px;
}
.logo__img {
  width: 160px;
  height: 40px;
}

.site-header__nav {
  margin-right: auto;
}
.sitenav__list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 40px;
}
.sitenav__link {
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
  transition: color 0.4s ease, opacity 0.4s ease;
}
.sitenav__link:hover {
  color: var(--light-coral-color);
}
.sitenav__link:active {
  opacity: 0.6;
}

.site-header__button {
  background-color: var(--midnight-green-color);
  transition: border-color 0.4s ease, background-color 0.4s ease,
  color 0.4s ease;
}
.site-header__button:hover {
  border-color: var(--text-color);
  background-color: var(--text-color);
  color: var(--dark-green);
}

/* HERO */

.hero {
  padding-top: 56px;
  padding-bottom: 250px;
  background-image:
  url(../img/hero-bottom-bg.svg),
  url(../img/hero-left-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 376px) 380px, calc(50% - 718px) 52px;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__headeing {
  width: 635px;
  margin: 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
}
.orange-text {
  color: var(--light-coral-color);
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  max-width: 445px;
}
.blue-line {
  width: 50px;
  height: 4px;
  background-color: var(--rapture-blue-color);
  margin-top: 0;
  margin-bottom: 80px;
}
.hero__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-color);
}

/* MAIN CONTENT */

.main-section {
  flex-grow: 1;
}

/* FEATURES */

.features {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: var(--sacramento-green-color);
}

.features__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}
.orange-line {
  width: 50px;
  height: 4px;
  background-color: var(--light-coral-color);
  margin-bottom: 54px;
}
.features__heading {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: var(--text-color);
  width: 100%;
  max-width: 445px;
}
.right-side {
  margin-top: 54px;
}
.right-side__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.right-side__item {
  display: flex;
  align-items: flex-start;
}
.right-side__item:not(:last-child) {
  margin-bottom: 32px;
}
.right-side__icon {
  width: 72px;
  height: 72px;
  margin-right: 23px;
}

.rught-side__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--light-coral-color);
}
.right-side__text {
  width: 100%;
  max-width: 445px;
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: var(--text-color);
  opacity: 0.8;
}

/* STORIES */

.stories {
  background-color: var(--jungle-green);
  padding-top: 140px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stories__heading {
  margin-top: 0;
  margin-bottom: 56px;
  font-weight: 700;
  font-size: 47px;
  line-height: 47px;
  color: var(--text-color);
  width: 100%;
  max-width: 932px;
  text-align: center;
}
.green-text {
  color: var(--police-blue-color);
}
.stories__list {
  display: flex;
  align-items: flex-start;
}
.stories__item {
  padding-top: 36px;
  background-image: url(../img/item-bg.svg);
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stories__item:not(:last-child) {
  margin-right: 30px;
}
.stories__author-text {
  text-align: center;
  width: 100%;
  max-width: 350px;
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
}
.stories__author-name {
  margin-top: 0;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--rapture-blue-color);
}
.stories__author-job {
  margin-top: 0;
  margin-bottom: 32px;
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}
.stories__author-avatar {
  display: block;
  empty-cells: 62px;
  height: 62px;
  border: 2px solid #C4FFFE;
  border-radius: 50%;
}

/* CTA */

.cta {
  padding-top: 76px;
  padding-bottom: 76px;
  background-color: var(--light-coral-color);
  background-image: url(../img/cta-bg.svg);
  background-repeat: no-repeat;
  background-position: 0 56px;
}

.cta__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cta__heading {
  margin: 0;
  margin-right: 20px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: var(--sacramento-green-color);
}
.cta__button {
  background-color: transparent;
  color: var(--sacramento-green-color);
  border-color: var(--sacramento-green-color);
  transition: opacity 0.4s ease, background-color 0.4s ease, color 0.4s ease;
}
.cta__button:hover {
  background-color: var(--sacramento-green-color);
  color: #fff;
}
.cta__button:active {
  opacity: 0.6;
}
